<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>

    <div class="first_step">

        <h1>Hi! Enter Your name</h1>

        <input type="text" class="name">

    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var count = document.querySelector('.count');

    count.set = function(value){ this.innerHTML = value; };

    socket.on('users_count', function(msg){
        count.set(msg.count);
    })

</script>

</html>